
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

$bk-color: #dedede;

* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  background: linear-gradient(to bottom, #fff 0%, $bk-color 100%);
}

.slide-deck {
  > div {
    width: 100vw;
    height: 100vh;
    border: 1px solid $bk-color;
  }

  h1 {
    font-size: 10vh;
  }
  h4 {
    font-size: 5vh;
    line-height: 7vh;
  }
  h5 {
    font-size: 4vh;
  }
}

.box-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

